:root {
    --current-page-bg-color: #640063FF;
}

.description {
    display: flex;
    gap: 1rem;
    margin: 1rem;
    height: fit-content;
}

.description p {
    font-size: 1.2em;
}


.description > img {
    width: 45%;
    object-fit: contain;
}

