.navbar {
  --button-highlight: #ECEBE8;
  --button-shadow: #B0A99E;
  --button-border-width: 3px;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 1rem;
}

.navbar a {
  text-decoration: none;
}

.navbar .button-background {
  background-color: var(--main-bg-color);
  border-width: var(--button-border-width);
  border-style: solid;
  border-color: var(--button-highlight) var(--button-shadow) var(--button-shadow) var(--button-highlight);
  width: 140px;
  height: 118px;
  color: black;
}

.navbar .button-background.pressed {
  height: calc(118px - (2 * var(--button-border-width)));
  border-color: transparent;
}

.navbar .button-items {
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.navbar .button-background.pressed .button-items {
  border: 1px dotted black;
}

.navbar .icon {
  width: 60px;
  height: 60px;
}

.navbar .label {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.navbar .button-background:hover .label > span {
  text-decoration: underline;
  text-underline-offset: 2px;
}
