.navbar {
    /* --button-highlight: #ECEBE8; */
    /* --button-shadow: #B0A99E; */
    --button-highlight: #FFFFFF99;
    --button-shadow: #00000033;
    --button-border-width: 3px;
}

.navbar {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 0.25rem;
    background-color: #FFFFFFbb;
}

.navbar a {
    text-decoration: none;
}

.navbar .button-background {
    border-style: solid;
    border-width: var(--button-border-width);
    border-color: var(--button-highlight) var(--button-shadow) var(--button-shadow) var(--button-highlight);
    width: 140px;
    height: 118px;
    color: black;
}

.navbar .button-background.pressed {
    border-color: var(--button-shadow) var(--button-highlight) var(--button-highlight) var(--button-shadow);
    background-color: #00000011;
}

.navbar .button-items {
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.navbar .button-background.pressed .button-items {
    border: 1px dotted black;
}

.navbar .icon {
    width: 60px;
    height: 60px;
    image-rendering: pixelated;
    object-fit: contain;
}

.navbar .label {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.navbar .button-background:hover .label > span, .navbar .pressed .label > span {
    text-decoration: underline;
    text-underline-offset: 2px;
}
